.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 8px 10px -1px #000000;
  box-shadow: 0px 8px 10px -1px #000000;
}
