.cast {
  display: grid;

  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  padding: 0;
}
.image-container {
  width: 100%;
}
.cast-image {
  display: block;
  width: 100%;
  height: auto;
}

.actor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;

  h3 {
    text-align: center;
    display: block;
    width: 100%;
    margin: 3px;
  }

  span {
    display: block;
    text-align: center;
    width: 100%;
    margin: 3px;
  }

  p {
    font-weight: 500;
  }

  .no-info {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .cast {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
}

@media screen and (max-width: 670px) {
  .cast {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
}
