.cast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
.image-container {
  width: 100%;
}
.cast-image {
  display: block;
  width: 100%;
  height: auto;
}

.actor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.897);
  color: #fff;

  font-family: 'Roboto', sans-serif;

  h3 {
    text-align: center;
    display: block;
    width: 100%;
    margin: 3px;
  }

  span {
    display: block;
    text-align: center;
    width: 100%;
    margin: 3px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #950000;
  }
}

.no-info {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(105, 103, 103);
}

@media screen and (max-width: 870px) {
  .cast {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
}

@media screen and (max-width: 670px) {
  .cast {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
}
