.reviews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  // padding: 15px 25px 30px 25px;
  border-top: 1px solid gray;

  div {
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 10px;

    p {
      font-family: 'Roboto', sans-serif;
      text-align: justify;
      text-indent: 20px;
    }
  }

  div:nth-of-type(2n) {
    background-color: rgb(223, 223, 223);
  }
}
.no-info2 {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 0;
  padding: 20px;
  text-align: center;
}

.content {
  display: block;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0 10px 0 10px;
}

.author {
  text-align: center;
}

.show-more {
  display: inline;
  color: #2196f3;
  transition: all 250ms easy;

  &:hover {
    color: #cf1f1f;
    cursor: pointer;
  }
}
