.navigation {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.active-link {
  composes: link;
  color: #2196f3;
}
.icon {
  width: 20px;
  margin-right: 20px;
}
