.navigation {
  width: 100%;
}

.nav-items {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 25px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #fafafa;
  font-size: 25px;
  margin-left: 20px;
  transition: all 250ms ease-in;

  &:hover {
    color: rgb(207, 31, 31);
  }
}

.active-link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #fafafa;
  font-size: 25px;
  margin-left: 20px;
  color: #2196f3;
}
.icon {
  width: 20px;
  margin-right: 20px;
}
