.search-form {
  padding: 15px;

  .form-input {
    padding: 5px;
    margin-right: 5px;
  }
  .form-btn {
    padding: 5px;
    transition: all 250ms ease;

    &:hover {
      cursor: pointer;
      background-color: #2196f3;
      border-radius: 3px;
      outline: none;
      color: rgb(236, 233, 233);
      transform: scale(1.1);
    }
  }
}
