.movie-link {
  max-width: 100%;
  display: block;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  transition: all 250ms ease-in;

  &:hover {
    color: rgb(207, 31, 31);
  }
}

.active-link {
  composes: movie-link;
  color: #2196f3;
}

.details-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box {
  display: flex-start;
  width: 100%;
  // margin-left: 25px;
  margin-bottom: 5px;
}

%btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ef9e9e 0%,
    #950000 51%,
    #faffb6 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      #ee8860 0%,
      #a10000 51%,
      #56ad9f 100%
    );
    transform: scale(1.1);
  }
}

.back-btn {
  @extend %btn;
}

.trailer-btn {
  @extend %btn;
  margin-left: 10px;
}
