.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: white;
  font: inherit;
  background-color: rgb(184, 50, 9);
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;

  &:hover {
    background-color: rgb(122, 31, 3);
  }
}

@media screen and (max-width: 375px) {
  .IconButton {
    padding: 5px;
  }
}
